#tester {
  position: absolute;
  width: 175px;
  height: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid red;
  z-index: 999;
  top: 627px;
  left: 626px; }

#mbrtWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  #mbrtWrap .innerWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
    border: 20px solid #fff;
    background-color: #eee; }
    #mbrtWrap .innerWrap section {
      position: relative;
      margin-bottom: 50px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    #mbrtWrap .innerWrap .mbrtBttns {
      line-height: 50px; }

.divisionTitles {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 22px;
  border-bottom: 2px solid #000; }
  .divisionTitles h5 {
    font-size: 16px;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
    text-transform: uppercase; }

.description-card-snippet {
  width: 900px;
  overflow: hidden;
  background-color: #fff;
  padding: 105px 57px 57px 57px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .description-card-snippet .innerSnippet {
    width: 100%;
    height: 100%; }
    .description-card-snippet .innerSnippet h4, .description-card-snippet .innerSnippet h5, .description-card-snippet .innerSnippet p {
      margin: 0; }
    .description-card-snippet .innerSnippet .innerColumns {
      position: relative;
      float: left;
      display: inline-block;
      vertical-align: top;
      zoom: 1;
      *display: inline; }
    .description-card-snippet .innerSnippet .leftColumn {
      width: 140px; }
      .description-card-snippet .innerSnippet .leftColumn .iconContainer {
        position: relative;
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
        background-color: #f6f6f6; }
        .description-card-snippet .innerSnippet .leftColumn .iconContainer img {
          width: 100%; }
    .description-card-snippet .innerSnippet .rightColumn {
      width: 640px;
      height: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 18px 0px 0px 59px; }
      .description-card-snippet .innerSnippet .rightColumn .und-color {
        background-color: #ffc554; }
      .description-card-snippet .innerSnippet .rightColumn .dec-color {
        background-color: #ff777d; }
      .description-card-snippet .innerSnippet .rightColumn .tak-color {
        background-color: #6cbfff; }
      .description-card-snippet .innerSnippet .rightColumn .colorbar {
        position: relative;
        width: 81px;
        height: 6px;
        margin-bottom: 25px; }
      .description-card-snippet .innerSnippet .rightColumn .bigTitle {
        font-size: 46px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: inherit;
        line-height: 33px;
        margin-bottom: 17px; }
      .description-card-snippet .innerSnippet .rightColumn .smallTitle {
        font-size: 16px;
        font-family: 'Playfair Display', serif;
        line-height: 12px;
        margin-bottom: 36px; }
      .description-card-snippet .innerSnippet .rightColumn .divbar {
        position: relative;
        width: 81px;
        height: 1pt;
        margin-bottom: 34px;
        background-color: #000; }
      .description-card-snippet .innerSnippet .rightColumn .conceptBlock {
        width: 470px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        letter-spacing: 0.4px;
        line-height: 19px;
        margin-bottom: 60px; }
      .description-card-snippet .innerSnippet .rightColumn .goToArticle {
        position: absolute;
        width: 320px;
        height: 12px;
        line-height: 12px;
        font-size: 12px;
        bottom: 0;
        right: 0;
        text-decoration: none;
        color: #000;
        -webkit-transition: transform 0.5s ease-in-out;
        -moz-transition: transform 0.5s ease-in-out;
        -ms-transition: transform 0.5s ease-in-out;
        -o-transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out; }
        .description-card-snippet .innerSnippet .rightColumn .goToArticle:hover {
          -webkit-transform: translate(15px, 0);
          -moz-transform: translate(15px, 0);
          -ms-transform: translate(15px, 0);
          -o-transform: translate(15px, 0);
          transform: translate(15px, 0); }
        .description-card-snippet .innerSnippet .rightColumn .goToArticle .text {
          float: right;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          font-family: 'Roboto', sans-serif;
          margin-right: 22px; }
        .description-card-snippet .innerSnippet .rightColumn .goToArticle .arrowHome {
          float: right;
          margin-top: 2.5px; }

@media only screen and (max-width: 1440px) {
  .description-card-snippet {
    width: 780px; }
    .description-card-snippet .innerSnippet .leftColumn {
      width: 17%; }
    .description-card-snippet .innerSnippet .rightColumn {
      width: 76%;
      padding: 18px 0px 0px 7%; }
      .description-card-snippet .innerSnippet .rightColumn .conceptBlock {
        width: 90%; } }
@media only screen and (max-width: 1199px) {
  .description-card-snippet {
    width: 646px; }
    .description-card-snippet .innerSnippet .rightColumn .conceptBlock {
      width: 90%; } }
@media only screen and (max-width: 991px) {
  .description-card-snippet {
    width: 520px;
    padding: 10% 6% 6% 6%; }
    .description-card-snippet .innerSnippet .leftColumn {
      width: 100%; }
      .description-card-snippet .innerSnippet .leftColumn .iconContainer {
        max-width: 80px; }
    .description-card-snippet .innerSnippet .rightColumn {
      width: 100%;
      height: auto;
      padding: 20px 0px 0px 0px; }
      .description-card-snippet .innerSnippet .rightColumn .colorbar {
        margin-bottom: 18px; }
      .description-card-snippet .innerSnippet .rightColumn .bigTitle {
        font-size: 36px;
        line-height: 28px;
        margin-bottom: 14px; }
      .description-card-snippet .innerSnippet .rightColumn .smallTitle {
        font-size: 14px;
        line-height: 10px;
        margin-bottom: 28px; }
      .description-card-snippet .innerSnippet .rightColumn .divbar {
        margin-bottom: 26px; }
      .description-card-snippet .innerSnippet .rightColumn .conceptBlock {
        margin-bottom: 55px;
        font-size: 14px;
        line-height: 17px; }
      .description-card-snippet .innerSnippet .rightColumn .goToArticle {
        height: 10px;
        line-height: 10px;
        font-size: 10px; }
        .description-card-snippet .innerSnippet .rightColumn .goToArticle .arrowHome {
          margin-top: 1px; } }
@media only screen and (max-width: 767px) {
  .description-card-snippet {
    width: 100%; }
    .description-card-snippet .innerSnippet .leftColumn .iconContainer {
      max-width: 60px; }
    .description-card-snippet .innerSnippet .rightColumn {
      padding-top: 10px; }
      .description-card-snippet .innerSnippet .rightColumn .colorbar {
        width: 60px;
        height: 3px;
        margin-bottom: 14px; }
      .description-card-snippet .innerSnippet .rightColumn .bigTitle {
        font-size: 28px;
        line-height: 22px;
        margin-bottom: 10px; }
      .description-card-snippet .innerSnippet .rightColumn .smallTitle {
        font-size: 12px;
        line-height: 9px;
        margin-bottom: 20px; }
      .description-card-snippet .innerSnippet .rightColumn .divbar {
        margin-bottom: 20px; }
      .description-card-snippet .innerSnippet .rightColumn .conceptBlock {
        margin-bottom: 65px;
        font-size: 12px;
        line-height: 15px; }
      .description-card-snippet .innerSnippet .rightColumn .goToArticle {
        width: 100%;
        height: 10px;
        bottom: 15px; }
        .description-card-snippet .innerSnippet .rightColumn .goToArticle:hover {
          -webkit-transform: translate(5px, 0);
          -moz-transform: translate(5px, 0);
          -ms-transform: translate(5px, 0);
          -o-transform: translate(5px, 0);
          transform: translate(5px, 0); }
        .description-card-snippet .innerSnippet .rightColumn .goToArticle .arrowHome {
          margin-top: 1px;
          margin-bottom: 15px; }
        .description-card-snippet .innerSnippet .rightColumn .goToArticle .text {
          margin-right: 10px; } }
.fullwidth-info-pictured {
  background-color: #fff;
  width: 100%;
  max-width: 1430px;
  max-height: 550px;
  overflow: hidden; }
  .fullwidth-info-pictured .innerSnippet {
    width: 100%;
    height: 100%;
    display: table; }
    .fullwidth-info-pictured .innerSnippet h4, .fullwidth-info-pictured .innerSnippet h5, .fullwidth-info-pictured .innerSnippet p {
      margin: 0; }
    .fullwidth-info-pictured .innerSnippet .innerColumns {
      position: relative;
      width: 50%;
      display: table-cell;
      vertical-align: top; }
    .fullwidth-info-pictured .innerSnippet .leftColumn .imageContainer {
      position: relative;
      width: 100%;
      height: 100%; }
      .fullwidth-info-pictured .innerSnippet .leftColumn .imageContainer img {
        width: 100%; }
    .fullwidth-info-pictured .innerSnippet .leftColumn .imageContainerBG {
      position: relative;
      width: 100%;
      height: 100%;
      background: url(http://placehold.it/715x550);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; }
    .fullwidth-info-pictured .innerSnippet .rightColumn {
      padding: 85px 60px 50px 47px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .fullwidth-info-pictured .innerSnippet .rightColumn .colorbar {
        position: relative;
        width: 81px;
        height: 6px;
        margin-bottom: 25px;
        background-color: #6cbfff; }
      .fullwidth-info-pictured .innerSnippet .rightColumn .bigTitle {
        font-size: 35px;
        font-family: 'Playfair Display', serif;
        font-weight: inherit;
        line-height: 35px;
        margin-bottom: 35px; }
      .fullwidth-info-pictured .innerSnippet .rightColumn .divbar {
        position: relative;
        width: 81px;
        height: 1px;
        margin-bottom: 34px;
        background-color: #000; }
      .fullwidth-info-pictured .innerSnippet .rightColumn .textContainer {
        position: relative;
        margin-bottom: 50px; }
        .fullwidth-info-pictured .innerSnippet .rightColumn .textContainer .conceptBlock {
          position: relative;
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          line-height: 18px;
          letter-spacing: 0.025em;
          margin-bottom: 23px; }
      .fullwidth-info-pictured .innerSnippet .rightColumn .goToPage {
        position: relative;
        height: 49px;
        background-color: #000;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 49px;
        padding: 23px 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-decoration: none;
        color: #fff;
        letter-spacing: 0.2em; }

@media only screen and (max-width: 1440px) {
  .fullwidth-info-pictured {
    width: 1170px; }
    .fullwidth-info-pictured .innerSnippet .rightColumn {
      padding: 60px 45px 59px 32px; } }
@media only screen and (max-width: 1199px) {
  .fullwidth-info-pictured {
    width: 970px; } }
@media only screen and (max-width: 991px) {
  .fullwidth-info-pictured {
    width: 780px; }
    .fullwidth-info-pictured .innerSnippet .rightColumn {
      padding: 50px 25px 42px 20px; }
      .fullwidth-info-pictured .innerSnippet .rightColumn .colorbar {
        width: 56px;
        margin-bottom: 18px; }
      .fullwidth-info-pictured .innerSnippet .rightColumn .bigTitle {
        font-size: 26px;
        line-height: 28px;
        margin-bottom: 20px; }
      .fullwidth-info-pictured .innerSnippet .rightColumn .divbar {
        margin-bottom: 26px; }
      .fullwidth-info-pictured .innerSnippet .rightColumn .textContainer {
        margin-bottom: 30px; }
        .fullwidth-info-pictured .innerSnippet .rightColumn .textContainer .conceptBlock {
          margin-bottom: 16px;
          font-size: 14px;
          line-height: 17px; }
      .fullwidth-info-pictured .innerSnippet .rightColumn .goToPage {
        padding: 16px 16px;
        font-size: 11px;
        height: 24px;
        line-height: 24px; } }
@media only screen and (max-width: 767px) {
  .fullwidth-info-pictured {
    width: 100%;
    max-height: none; }
    .fullwidth-info-pictured .innerSnippet .innerColumns {
      display: inline-block;
      float: left;
      width: 100%; }
    .fullwidth-info-pictured .innerSnippet .leftColumn .imageContainerBG {
      min-height: 250px; } }
.card-hover {
  -webkit-transition: box-shadow 0.4s ease-in-out;
  -moz-transition: box-shadow 0.4s ease-in-out;
  -ms-transition: box-shadow 0.4s ease-in-out;
  -o-transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out; }
  .card-hover:hover {
    -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.15); }

.small-card-hover {
  -webkit-transition: box-shadow 0.4s ease-in-out;
  -moz-transition: box-shadow 0.4s ease-in-out;
  -ms-transition: box-shadow 0.4s ease-in-out;
  -o-transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out; }
  .small-card-hover:hover {
    -webkit-box-shadow: 7px 7px 8px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 7px 7px 8px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 7px 7px 8px 0px rgba(0, 0, 0, 0.15); }

/*# sourceMappingURL=styling.css.map */
