@import 'mixins';

#tester{
	position: absolute;
	width: 175px;
	height: 12px;
	@include boxSizer();
	border: 1px solid red;
	z-index: 999;
	top: 627px;
	left: 626px;
}

// MANDELBROT Boilerplate style
	
	// Variables
	$mainHeight: 50px;
	$mbrtLightGray: #eee;
	$mbrtDarkGray: #303030;

	#mbrtWrap{
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;

		.innerWrap{
			position: absolute;
			width: 100%;
			height: 100%;
			@include boxSizer();
			margin: auto;
			top: 0; bottom: 0; left: 0; right: 0;
			overflow: scroll;
			border: 20px solid #fff;
			background-color: $mbrtLightGray;


			section{
				position: relative;
				margin-bottom: ($mainHeight);
				// border: 1px solid $mbrtDarkGray;
				@include boxSizer();
			}


			.mbrtBttns{
				line-height: $mainHeight;
			}

		}
	}

// END Boilerplate style


////////// Snippets

// Division Bar with Title
@import 'snippet_1';

// Description card with icon for Categories
@import 'snippet_2';

// Description full width card with picture for Info
@import 'snippet_3';

// Carousel Full width for testimonials
@import 'snippet_4';



// Animations
@import 'hovers';
@import 'slider';